<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Cutive+Mono">
    {{ $style := resources.Get "styles/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <title>{{ .Title }}</title>
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-2">
                <h1>{{ .Title }}</h1>
                <article>
                    <p class="lead">
                        <br />{{ $.Site.Params.description }}
                    </p>
                </article>
                {{ block "main" . }}
                {{ end }}
            </div>
            <div class="col-1">
                <div class="side-board">
                    <h1>{{ $.Site.Params.aboutTitle }}</h1>
                    <img class="about" src="{{ $.Site.Params.image }}" alt="portrait" />
                    <p class="lead">{{ $.Site.Params.about }}</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
