{{ define "main" }}
{{ range $.Sections.ByWeight }}
<article>
    <h1>{{ .Title }}</h1>
    {{ range where .Site.RegularPages "Section" .Section }}
    <h3>{{ .Title }}</h3>
    <small>{{ .Params.dateRange }}</small>
    <p>{{ .Content }}</p>
    {{ end }}
</article>
{{ end }}
{{ end }}